uml-packagedelement {
	display: inline-block;
}
.uml-packagedelement {
	display: inline-block;
}
.uml-packagedelement div {
	display: block;
}
.uml-packagedelement > .package, .uml-packagedelement > .class, .uml-packagedelement > .interface {	
	padding: 0;
	margin: 0;
	display: inline-block;
}
.uml-packagedelement > .package {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.package {
	margin: 15px;
	text-align: left;
	max-width: 100%;
	display: inline-block; 
}
.package > .name  {
	font-family: sans-serif;
	border-style: solid;
	border-bottom-style: none;
	border-width: 1px;
	border-radius: 3px 3px 0px 0px;
	padding: 3px;
	margin-left: 5px;
	max-width: 250px;
	overflow: auto;
}
.package > .content {
	font-family: sans-serif;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px 3px 0px 0px;
	padding: 25px;
	margin-top: 0;
	text-align: center;
	min-width: 300px;
}

uml-packagedelement[type="uml:Class"] {
	max-width: 400px;
	margin: 3em;
}

.class {
	border-style: outset;
	border-width: 1px;
	border-radius: 3px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	overflow: auto;
	box-shadow: 1px 1px 1px silver;
	font-family: sans-serif;
	display: block;
}
.class:active {
	border-style: inset;
	border-width: 2px;
}
.class > .content {
	padding: 15px;
	background-color: none;
	text-align: left;
}
.class > .name  {
	margin-top: 0;
	border-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 15px;
	padding: 15px;
	text-align: center;
}

uml-packagedelement[type="uml:Interface"] {
	max-width: 400px;
	margin: 3em;
}

.interface {
	border-style: outset;
	border-width: 1px;
	border-radius: 3px;
	padding: 0;
	margin: 15px;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	overflow: auto;
	box-shadow: 1px 1px 1px silver;
	font-family: sans-serif;
}
.interface:active {
	border-style: inset;
	border-width: 2px;
}
.interface > .content {
	padding: 15px;
	background-color: none;
	text-align: left;
}
.interface > .name  {
	margin-top: 0;
	border-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 15px;
	padding: 15px;
	text-align: center;
}

uml-packagedelement[type="uml:Node"], uml-packagedelement[type="uml:Device"], uml-packagedelement[type="uml:ExecutionEnvironment"]   {
	max-width: 400px;
	margin: 3em;
}
.node {
	border-style: solid;
	border-width: 1px;
	padding: 0;
	max-width: 90%;
	overflow: auto;
	font-family: sans-serif;
}
.node {
	box-shadow:  1px -1px rgb(0, 0, 0),
		 2px -2px rgb(251, 250, 250),
		 3px -3px rgb(249, 248, 248),
		 4px -4px rgb(247, 246, 246),
		 5px -5px rgb(245, 244, 244),
		 6px -6px rgb(243, 242, 242),
		 7px -7px rgb(241, 240, 240),
		 8px -8px rgb(239, 238, 238),
		 9px -9px rgb(237, 236, 236),
		 10px -10px rgb(235, 234, 234),
		 11px -11px rgb(233, 232, 232),
		 12px -12px rgb(231, 230, 230),
		 13px -13px rgb(229, 228, 228),
		 14px -14px rgb(0, 0, 0);
}
.stereotype {
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 15px;
	padding-bottom: 0;
	margin: 0;
}
.node:active {
	border-style: inset;
	border-width: 2px;
}
.node > .content {
	padding: 15px;
	background-color: none;
}
.node > .name  {
	margin-top: 0;
	border-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 15px;
	padding: 15px;
	text-align: center;
}

uml-packagedelement[type="uml:Artifact"] {
	max-width: 400px;
	margin: 3em;
}

.artifact {
	border-style: outset;
	border-width: 1px;
	border-radius: 3px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	overflow: auto;
	box-shadow: 1px 1px 1px silver;
	font-family: sans-serif;
}
.artifact:active {
	border-style: inset;
	border-width: 2px;
}
.artifact > .content {
	padding: 15px;
	background-color: none;
}
.artifact > .name  {
	margin-top: 0;
	border-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 15px;
	padding: 15px;
	text-align: center;
}

uml-packagedelement[type="uml:Component"] {
	max-width: 600px;
	margin: 3em;
}
.component {
	border-style: outset;
	border-width: 1px;
	border-radius: 3px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	overflow: auto;
	box-shadow: 1px 1px 1px silver;
	font-family: sans-serif;
	display: block;
}
.component:active {
	border-style: inset;
	border-width: 2px;
}
.component > .content {
	padding: 15px;
	background-color: none;
	text-align: left;
}
.component > .stereotype {
	background-image: url("component.png");
	background-repeat: no-repeat;
	background-origin: content-box;
}
.component > .name  {
	margin-top: 0;
	border-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 15px;
	padding: 15px;
	text-align: center;
}

uml-packagedelement[type="uml:UseCase"] {
	min-width: 200px;
	width: 300px;
	max-width: 400px;
	
}
.use-case {
	border-style: outset;
	border-width: 1px;
	border-radius: 100%;
	padding: 0;
	margin: 1em 4em;
	width: 90%;
	max-height: 6em;
	overflow: auto;
	box-shadow: 1px 1px 1px silver;
	font-family: sans-serif;
	display: block;
}
.use-case:active {
	border-style: inset;
	border-width: 2px;
}
.use-case > .content {
	padding: 5px;
	background-color: none;
	text-align: left;
	max-height: 2em;
}
.use-case > .name  {
	margin-top: 1em;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 15px;
	padding: 15px;
	text-align: center;
}

uml-packagedelement[type="uml:Actor"] {
	height: 6em;
	width: 4em;
	margin: 3em;
}
.actor {
	background-image: url("actor.png");
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center; 
}
.actor:active {
}
.actor > .content {
	padding: 15px;
	background-color: none;
	text-align: left;
}
.actor > .name  {
	margin-top: 6em;
	text-align: center;
}

uml-packagedelement[type="uml:Activity"] {
	min-width: 400px;
	width: 400px;
	max-width: 100%;
	padding: 4em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.activity {
	border-style: outset;
	border-width: 1px;
	border-radius: 1em;
	padding: 1em;
	min-width: 90%;
	width: 90%;
	overflow: auto;
	box-shadow: 1px 1px 1px silver;
	font-family: sans-serif;
	display: block;
}
.activity:active {
	border-style: inset;
	border-width: 2px;
}
.activity > .content {
	padding: 0.5em;
	background-color: none;
	text-align: center;
}
.activity > .name  {
	margin: 0.5em 1em auto;
	margin-bottom: 15px;
	padding: 0em;
	text-align: center;
}