<link rel="import" 
  href="uml-member.html">
<polymer-element name="uml-ownedParameter" extends="uml-member">
	<template>
		<link rel="stylesheet" type="text/css" href="colors.css" >
		<link rel="stylesheet" type="text/css" href="elements.css" >
		<style>
		:host {
		}
		</style>
		<div class="parameter">
			<span class="name">{{ name }}</span>
			<span id="type" class="type accent-color">
				: <span id="typeName" class="name"></span>
			</span>
    		<content></content>   
		</div>
	</template>
	<script>
	Polymer('uml-ownedParameter', { 
		ready: function() {
			new UmlMember(this);
		}, 
		domReady: function() {
			this.umlElement.displayType();
		}
	});
	</script>
</polymer-element>
