.model-header {
	min-height: 50px;
	text-align: center;
	border-width: 1px;
	padding: 5px;
	margin: 0;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}
.model-header .name {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	padding: 5px;
}

.model {
	padding: 15px;
}



.package {
	margin: 15px;
	text-align: left;
	float: left;
	max-width: 100%;
}
.package > .name  {
	font-family: sans-serif;
	border-style: solid;
	border-bottom-style: none;
	border-width: 1px;
	border-radius: 3px 3px 0px 0px;
	padding: 3px;
	display: inline;
	margin-left: 5px;
	max-width: 250px;
	overflow: auto;
	float: left;
}
.package > .content {
	font-family: sans-serif;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px 3px 0px 0px;
	padding: 25px;
	margin-top: 0;
	text-align: center;
	min-width: 300px;
}

.class {
	border-style: outset;
	border-width: 1px;
	border-radius: 3px;
	padding: 0;
	margin: 15px;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	overflow: auto;
	box-shadow: 1px 1px 1px silver;
	font-family: sans-serif;
	float: left;
}
.class:active {
	border-style: inset;
	border-width: 2px;
}
.class > .content {
	padding: 15px;
	background-color: none;
}
.class > .name  {
	margin-top: 0;
	border-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 15px;
	padding: 15px;
	text-align: center;
}

.attribute {
	display: block;
}

.visibility {
	min-width: 40px;
	width: 50px;
	text-align: left;
}

.method {
	display: block;
}

.parameter {
	padding-left: 8px;
	display: block;
}

.type {
}