---
---
pre {
	margin-left: 20px;
	padding-left: 10px;
    display: block;
    font-size: 1.0em;
    font-family: Courier;
    line-height: 1.4;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    border-left: 10px solid #F6DF6A;
}
body {
font-family: RobotoDraft, sans-serif;
font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
font-family: inherit;
margin: 0;
font-weight: 300;
color: #{{ site.data.colors.black }};
}
.title, .title a {
font-size: 2.5rem;
}
.title a {
color: #{{ site.data.colors.white }};
}
.title a:hover, core-menu paper-item a:hover {
text-decoration: none;
}
h1 {
font-size: 4.5rem;
}
h2 {
font-size: 4rem;
}
h3 {
font-size: 3.5rem;
}
h4 {
font-size: 3rem;
}
h5 {
font-size: 2.5rem;
}
h6 {
font-size: 2rem;
}
p, a {
font-size: 1.5rem;
}
p {
padding-left: 16px;
color: #{{ site.data.colors.dark-gray }};
}
a {
text-decoration: none;
color: #{{ site.data.colors.primary1 }};
}
a:hover {
text-decoration: underline;
}
.content {
margin: 32px;
padding: 32px 64px 32px 64px;
background-color: #{{ site.data.colors.light-gray }};
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
core-header-panel {
background-color: #{{ site.data.colors.primary2 }};
}
html /deep/ core-toolbar {
background-color: #{{ site.data.colors.primary3 }};
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
height: 128px;
z-index: 1;
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
.title-container {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
}
.panel-toolbar {
box-shadow: none;
}
core-menu paper-item a {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 16px;
}
core-menu paper-item, core-menu paper-item a {
color: #{{ site.data.colors.white }};
}
.download-button {
margin-left: 16px;
}