<link rel="import" 
  href="../polymer/polymer/polymer.html">

<polymer-element name="polymeria-packagedElement" attributes="name type">
  <template>
    <style>
    :host {
    }
    .package-header {
      margin-bottom: 10px;
    }
    .packaged-element {
      display: block;
      padding: 15px;
    }
    [type=uml-Class] {
      background-color: white;
      border-style: solid;
      border-width: 1px;
      margin-left: auto;
      margin-right: auto;
      padding: 15px;
    }
    [type=uml-Package] {
      background-color: maroon;
      border-style: solid;
      border-width: 1px;
      width: 100%;
      padding: 15px;
    }
    </style>

    <!-- UML PACKAGEABLE ELEMENT -->
    <div class="packaged-element" type="{{ type }}" layout vertical center>
      <div>
      {{ name }}
      </div> 
      <content></content>   
    </div>
  </template>

  <script>
  Polymer({});
  </script>
</polymer-element>
