<link rel="import" 
  href="../polymer/polymer/polymer.html">
<!-- 
# Primary palette (Orange)

primary1: ffcc80
# primary (200)

primary2: ffe0b2
# primary (100)

primary3: e65100
 # primary (900)

# Secondary palette (Deep purple)
accent: 7c4dff
# accent (A200)
 -->
<polymer-element name="uml-model" attributes="name">
	<template>
		<style>
		:host {
		}
		.model-element {
    		border-style: solid;
			border-width: 1px;
			padding: 15px;
			margin: 0;
		}
		.model-element-header {
			border-style: solid;
			border-bottom-style: none;
			border-width: 1px;
			padding: 5px;
			margin: 0;
		}
		</style>
		<div class="model-element-header" horizontal start-justified layout>
    		<div>{{ name }}</div>
    	</div>	
		<div class="model-element" layout vertical center>
			<content></content>
		</div>
	</template>
	<script>
	Polymer({});
	</script>
</polymer-element>
