<!doctype html>
<html>
  <head>
    <title>Polymeria sample</title>
    <script src="polymer/platform/platform.js">
    </script>
    <link rel="import" href="polymer/polymer/polymer.html">
    <dom-module id="test-content" attributes="name">
      <template>
        <span layout vertical left>
          {{ name }}
          <content></content>   
        </span>
      </template>
      <script>
      Polymer({});
      </script>
    </dom-module>
    <dom-module id="test-no-content" attributes="name">
      <template>
        <span layout vertical left>
          {{ name }}
        </span>
      </template>
      <script>
      Polymer({});
      </script>
    </dom-module>
  </head>
  <body unresolved>
    <section>
      <div style="background-color: green;">
        <test-content name="no end tag" />
        <test-content name="end tag">
        </test-content>
      </div>
      <div style="background-color: red;">
        <test-no-content name="no end tag" />
        <test-no-content name="end tag">
        </test-no-content>
      </div>
    </section>
  </body>
</html>