<!doctype html>
<html>
  <head>
    <title>Polymeria sample</title>
    <script src="bower_components/webcomponentsjs/webcomponents.js">
    </script>
    <link rel="import" href="bower_components/polymeria-uml/uml-polymeria.html">
  </head>
  <body style="background-color: #f9f9f9;" unresolved>
    <section>
      <uml-model name="model">
          <uml-packagedElement type="uml-Package" name="package">
            <uml-packagedElement type="uml-Class" name="MyClientClass">
              <uml-ownedOperation 
                name="myOperation" 
                visibility="protected"
                type="model:package.MyResultClass">
              </uml-ownedOperation>
            </uml-packagedElement>
            <uml-packagedElement type="uml-Class" name="MyResultClass">
            </uml-packagedElement>
          </uml-packagedElement>
      </uml-model>
    </section>
  </body>
</html>
